@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
section {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Anonymous Pro", monospace;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #fff;
}

input,
button,
textarea {
  font-family: "Anonymous Pro", monospace;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Anonymous Pro", monospace;
  line-height: normal;
  letter-spacing: normal;
  font-style: normal;
}

body.lock {
  overflow: hidden;
}

a {
  font-family: "Anonymous Pro", monospace;
  font-style: normal;
  font-weight: normal;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  width: 100%;
  position: relative;
  background: #0c064e;
}

.header {
  height: 100px;
  width: 100%;
  padding: 35px 15px;
}

.header__body {
  width: 100%;
  height: 100%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list-item {
  font-size: 30px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 90px;
}

.menu__list-item span {
  font-size: 30px;
  line-height: 30px;
  margin: 0 10px;
}

.menu__list-link {
  font-size: 30px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fbf8f8;
}

.cover {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.cover__body {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}

.slider-cover__body {
  margin: 0 -10px;
}

.slider-cover__item.slick-slide {
  padding: 0 10px;
}

.slider-cover__item img {
  width: 170px;
  height: 245px;
}

.error {
  width: 100%;
  height: 100%;
}

.error__body {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.error__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 150px;
}

.error__image {
  margin-right: 50px;
}

.error__title {
  font-family: "Press Start 2P", cursive;
  font-size: 120px;
  line-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-text-stroke: 2px #4200ff;
  color: #11f1ff;
}

.error__subtitle {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
}
